In [2]:
import pandas as pd

In [3]:
url = "http://api.bcb.gov.br/dados/serie/bcdata.sgs.433/dados?formato=json"

In [63]:
df = pd.read_json(url)

In [69]:
df.head()

        data  IPCA
0 1980-01-01  6.62
1 1980-01-02  4.62
2 1980-01-03  6.04
3 1980-01-04  5.29
4 1980-01-05  5.70

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    497 non-null    object
 1   valor   497 non-null    float64
dtypes: float64(1), object(1)
memory usage: 7.9+ KB

In [66]:
df['data'] = pd.to_datetime(df['data'])
df.columns = (['data','IPCA'])

In [67]:
df.head()

        data  IPCA
0 1980-01-01  6.62
1 1980-01-02  4.62
2 1980-01-03  6.04
3 1980-01-04  5.29
4 1980-01-05  5.70